html {
    font-size: 14px;
  }
  
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
  }
  
  html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    margin-bottom: 60px;
    background-image: url("wolf2.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    background-attachment: fixed;
    overflow: hidden; 
    height: 100vh;
  }

  #hetle{
    color: #4479ba;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 1000;
    font-size: 3em;
  }

  #query{
    padding: 10px;
    margin: 15px;
    width: 60%;
  }

  #query:focus {
    border-color: #007aff;
    box-shadow: 0 0 5px #007aff;
    outline: none; 
}

  #Search, #lucky{
    flex: 1;
    flex-basis: 0;
    padding: 10px 20px;
    border: none;
    margin: 10px;
    border-radius: 5px;
  }

  #tiktok{
    margin: 20px;
    width: 20%
  }

  #searchResults{
    visibility: hidden;
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: .5px;
    padding-bottom: 5px;
    box-sizing:border-box;
  }

  #searchResults a{
    color: #4479ba;
    text-decoration: none;
  }

  #searchResults a:hover{
    color: #00397a;
    text-decoration: underline;
  }

  #time{
    visibility: hidden;
    text-align: center;
  }

  #parflex{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }

  #kidflex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
  }



